vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Apr 2018 19:25:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-INAMB2T\\pc
vti_modifiedby:SR|DESKTOP-INAMB2T\\pc
vti_timecreated:TR|12 Apr 2018 19:25:33 -0000
vti_cacheddtm:TX|12 Apr 2018 19:25:33 -0000
vti_filesize:IR|1477
vti_cachedlinkinfo:VX|S|images/headColor.jpg S|images/Background.jpg
vti_cachedsvcrellinks:VX|FSUS|College/First\\ Semester/Web\\ Interface\\ Design/webdesign_week1011/images/headColor.jpg FSUS|College/First\\ Semester/Web\\ Interface\\ Design/webdesign_week1011/images/Background.jpg
vti_backlinkinfo:VX|College/First\\ Semester/Web\\ Interface\\ Design/webdesign_week1011/Assignment4.html
