vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300974443
vti_modifiedby:SR|CENCOL\\300974443
vti_timelastmodified:TW|19 Mar 2018 18:27:28 -0000
vti_timecreated:TR|19 Mar 2018 17:23:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week08/Week08.html
vti_nexttolasttimemodified:TW|19 Mar 2018 18:27:28 -0000
vti_cacheddtm:TX|19 Mar 2018 18:27:28 -0000
vti_filesize:IR|560
vti_cachedlinkinfo:VX|S|images/CC50thAnniversary.jpg S|images/trilliumgradient.png
vti_cachedsvcrellinks:VX|FSUS|Week08/images/CC50thAnniversary.jpg FSUS|Week08/images/trilliumgradient.png
