vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-INAMB2T\\pc
vti_modifiedby:SR|DESKTOP-INAMB2T\\pc
vti_timelastmodified:TW|27 Apr 2018 07:31:34 -0000
vti_timecreated:TR|19 Apr 2018 19:37:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|products/Stinger\\ specs.html Rio\\ specs.html photo_gallery/default.html Site\\ Map.html information_links/default.html services/default.html Term\\ Project.dwt products/Products.html Sportage\\ specs.html Soul\\ specs.html about/default.html calendar/default.html products/Soul\\ specs.html employees/default.html employment/default.html news/default.html Term\\ Project.html products/Rio\\ specs.html site_map/Site\\ Map.html Sorento\\ specs.html Stinger\\ specs.html contacts.html contact/Contact.html products/Sorento\\ specs.html Products.html faq/default.html press/default.html products/Sportage\\ specs.html promotions/default.html
vti_nexttolasttimemodified:TW|27 Apr 2018 07:31:34 -0000
vti_cacheddtm:TX|27 Apr 2018 07:31:34 -0000
vti_filesize:IR|1963
vti_cachedlinkinfo:VX|Q|layout.css S|../images/msfp_smbus2_01.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/msfp_smbus2_01.gif
